.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}    

.left-section-content {
    height: 700px;
    padding-left: 60px;
    padding-top: 50px;

    background-color: rgba(134, 105, 57, 0.2);
}

h1 {
    font-size: 50px;
    color: #0d2b50;
}

.box-description {
    font-size: 30px;
    margin-bottom: 100px;
}

.example {
    width: 95%;
    padding-top: 5px;
    padding-left: 10px;
    height: 200px;
    border: solid;
    border-color: rgba(0,0,0,0.2);
    border-radius: 15px;
    background-color: white;
}

code {
    font-size: 18px;
}

.right-section-content {
    align-self: center;
}
.box-model-image {
    width: 100%;
}